site_name: htmy
repo_name: volfpeter/htmy
repo_url: https://github.com/volfpeter/htmy

theme:
  name: modern
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      scheme: slate
      toggle:
        icon: lucide/sun-moon
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: lucide/sun
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: lucide/moon
        name: Switch to system preference
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight

plugins:
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          paths: [.]

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - index.md
  - components-guide.md
  - function-components.md
  - Examples:
      - Examples: examples/index.md
      - examples/snippet-slots-fastapi.md
      - examples/fastapi-htmx-tailwind-daisyui.md
      - examples/markdown.md
      - examples/internationalization.md
  - API reference:
      - api/core.md
      - api/html.md
      - api/snippet.md
      - api/md.md
      - api/function_component.md
      - api/i18n.md
      - renderer:
          - api/renderer/default.md
          - api/renderer/baseline.md
          - api/renderer/typing.md
      - api/utils.md
      - api/typing.md
      - api/etree.md
